---
import type { Link } from "@/.storyblok/types/285719928053161/storyblok-components";

interface Props {
  blok: Link;
  variant: "primary" | "secondary";
}

const { blok, variant } = Astro.props;

let classNames = "";
switch (variant) {
  case "primary":
    classNames = "btn-primary";
    break;
  case "secondary":
    classNames = "btn-secondary";
    break;
  default:
    classNames = "btn-primary";
    break;
}
---

<a
  href={blok.url.url}
  rel={blok.url.target === "_blank" ? "noopener noreferrer" : undefined}
  target={blok.url.target}
  class={`btn ${classNames}`}
  >{blok.text}
</a>
