---
import type { NavLink } from "@/.storyblok/types/285719928053161/storyblok-components";

interface Props {
  blok: NavLink;
}

const { blok } = Astro.props;

const fontSize = blok.isSmall ? "text-sm lg:text-base" : "text-4xl lg:text-2xl";
---

<a class={`${fontSize}`} href={blok.url.url}>{blok.text}</a>
