---
import type { Link } from "@/.storyblok/types/285719928053161/storyblok-components";
import Arrow from "@/src/icons/arrow.svg";

interface Props {
  blok: Link;
}

const { blok } = Astro.props;
---

<a
  href={blok.url.url}
  rel={blok.url.target === "_blank" ? "noopener noreferrer" : undefined}
  target={blok.url.target}
  class="font-secondary text-mine-shaft group inline-flex items-center gap-2 text-base font-bold"
  >{blok.text}<Arrow
    class="h-4 w-4 transition-transform group-hover:translate-x-1"
  />
</a>
