---
import {
  storyblokEditable,
  type SbBlokData,
  renderRichText,
  type StoryblokRichTextNode,
} from "@storyblok/astro";
import type { CollapsibleItem } from "@/.storyblok/types/285719928053161/storyblok-components";

export interface Props {
  blok: CollapsibleItem;
}

const { blok } = Astro.props;
const { title, description } = blok;
---

<div class="collapse-arrow bg-base-300 collapse" {...storyblokEditable(blok as SbBlokData)}>
  <input type="checkbox" />
  {title && <div class="collapse-title font-medium">{title}</div>}
  {
    description && (
      <div class="collapse-content">
        <div class="text-base-content/80 prose prose-sm">
          <Fragment
            set:html={renderRichText(description as StoryblokRichTextNode)}
          />
        </div>
      </div>
    )
  }
</div>
