---
import {
  storyblokEditable,
  type SbBlokData,
  renderRichText,
  type StoryblokRichTextNode,
} from "@storyblok/astro";
import type { InfoCard } from "@/.storyblok/types/285719928053161/storyblok-components";

export interface Props {
  blok: InfoCard;
}

const { blok } = Astro.props;
const { emoji, title, description } = blok;
---

<div class="card bg-base-200 shadow-xl" {...storyblokEditable(blok as SbBlokData)}>
  <div class="card-body items-center text-center">
    {emoji && <div class="mb-4 text-5xl">{emoji}</div>}
    {title && <h3 class="card-title mb-2">{title}</h3>}
    {
      description && (
        <div class="text-base-content/70 prose prose-sm">
          <Fragment
            set:html={renderRichText(description as StoryblokRichTextNode)}
          />
        </div>
      )
    }
  </div>
</div>
