---
import {
  storyblokEditable,
  type SbBlokData,
  renderRichText,
  type StoryblokRichTextNode,
} from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { CareerTimeline } from "@/.storyblok/types/285719928053161/storyblok-components";

export interface Props {
  blok: CareerTimeline;
}

const { blok } = Astro.props;
const { title, description, items = [] } = blok;
---

<section
  class="bg-base-200 py-16 sm:py-24"
  {...storyblokEditable(blok as SbBlokData)}
>
  <div class="container mx-auto max-w-5xl px-4">
    <h2 class="mb-4 text-3xl font-bold sm:text-4xl">{title}</h2>

    {
      description && (
        <div class="text-base-content/80 prose prose-lg mb-12">
          <Fragment
            set:html={renderRichText(description as StoryblokRichTextNode)}
          />
        </div>
      )
    }

    {
      items.length > 0 && (
        <ul
          id="career-timeline"
          class="career-timeline timeline timeline-vertical timeline-snap-icon timeline-compact"
        >
          {items.map((itemBlok) => (
            <StoryblokComponent blok={itemBlok as SbBlokData} />
          ))}
        </ul>
      )
    }
  </div>
</section>

<script>
  const careerTimelineDesktop = () => {
    const careerTimeline = document.getElementById("career-timeline");
    const lgBreakPoint = window.matchMedia("(min-width: 1024px)");

    if (lgBreakPoint.matches) {
      careerTimeline?.classList.remove("timeline-compact");
    } else {
      careerTimeline?.classList.add("timeline-compact");
    }
  };

  window.addEventListener("resize", careerTimelineDesktop);
</script>
