---
import {
  storyblokEditable,
  type SbBlokData,
  renderRichText,
  type StoryblokRichTextNode,
} from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { Intro } from "@/.storyblok/types/285719928053161/storyblok-components";

interface Props {
  blok: Intro;
}

const { blok } = Astro.props;
---

<section
  {...storyblokEditable(blok as SbBlokData)}
  class="container mx-auto mb-12 max-w-3xl px-4"
>
  <h2 class="divider divider-start text-xl font-bold uppercase">
    {blok.headline}
  </h2>

  <div class="prose lg:prose-lg text-base-content mb-8 max-w-none">
    <Fragment
      set:html={renderRichText(blok.richtext as StoryblokRichTextNode)}
    />
  </div>

  {
    blok.blocks && blok.blocks.length > 0 && (
      <div class="flex flex-col justify-center gap-4 sm:flex-row">
        {blok.blocks?.map((block) => (
          <StoryblokComponent blok={block as SbBlokData} />
        ))}
      </div>
    )
  }
</section>
